In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd

In [32]:
books = pd.read_csv('BX-Books.csv')
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN

In [33]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [34]:
books.drop(['Unnamed: 8', 'Unnamed: 9','Unnamed: 10', 'Unnamed: 11'],axis='columns',
           inplace=True)

In [35]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [36]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [37]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [38]:
books.rename(columns={'Book-Title':'title',
                      'Book-Author':'author', 'Year-Of-Publication':'year',
                      'Publisher':'publisher'}, inplace=True)

In [39]:
books.head()

,ISBN,title,author,year,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [41]:
users = pd.read_csv('BX-Users.csv')

In [42]:
users.head(2)

   User-ID                   Location  Age Unnamed: 3 Unnamed: 4  Unnamed: 5
0        1         nyc, new york, usa  NaN        NaN        NaN         NaN
1        2  stockton, california, usa   18        NaN        NaN         NaN

In [45]:
users.drop(['Unnamed: 3','Unnamed: 4','Unnamed: 5'],axis=1, inplace=True)

In [47]:
users.rename(columns={'User-ID':'user-id','Location':'location','Age':'age'}, inplace=True)

In [48]:
users.head()

   user-id                            location  age
0        1                  nyc, new york, usa  NaN
1        2           stockton, california, usa   18
2        3     moscow, yukon territory, russia  NaN
3        4           porto, v.n.gaia, portugal   17
4        5  farnborough, hants, united kingdom  NaN

In [49]:
ratings = pd.read_csv('BX-Book-Ratings.csv')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726   155061224          5.0
2   276727   446520802          0.0
3   276729  052165615X          3.0
4   276729   521795028          6.0

In [50]:
ratings.rename(columns={'User-ID':'user-id','Book-Rating':'rating'}, inplace=True)

In [51]:
ratings.head()

   user-id        ISBN  rating
0   276725  034545104X     0.0
1   276726   155061224     5.0
2   276727   446520802     0.0
3   276729  052165615X     3.0
4   276729   521795028     6.0

In [52]:
books.shape

(271379, 5)

In [53]:
users.shape

(278851, 3)

In [54]:
ratings.shape

(1048575, 3)

In [55]:
ratings['user-id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
104999        1
105002        1
105008        1
105014        1
123969        1
Name: user-id, Length: 95513, dtype: int64

In [56]:
ratings['user-id'].value_counts().shape

(95513,)

In [60]:
x = ratings['user-id'].value_counts()>200

In [68]:
x[x].shape

(815,)

In [69]:
y = x[x].index

In [70]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
             88793,  33145, 116122,   9856,  73681,  28634,  59727, 188951,
            155916,  44296],
           dtype='int64', length=815)

In [71]:
ratings = ratings[ratings['user-id'].isin(y)]

In [72]:
ratings.shape

(482728, 3)

In [73]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [74]:
ratings.shape

(482728, 3)

In [75]:
ratings_with_books.head()

,user-id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [82]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [84]:
number_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [85]:
number_rating.rename(columns={'rating':'number of rating'}, inplace=True)

In [86]:
number_rating.head()

                                               title  number of rating
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [87]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [89]:
final_rating.head()

,user-id,ISBN,rating,title,author,year,publisher,number of rating
0,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74

In [90]:
final_rating = final_rating[final_rating['number of rating'] >= 50]

In [92]:
final_rating.shape

(50851, 8)

In [95]:
final_rating.drop_duplicates(['user-id','title'], inplace=True)

In [96]:
final_rating.shape

(49070, 8)

In [98]:
book_pivot = final_rating.pivot_table(columns='user-id', index='title', values='rating')

In [100]:
book_pivot.head(5)

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
book_pivot.fillna(0, inplace=True)

In [102]:
book_pivot.head(5)

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
!pip install scipy

Requirement already satisfied: scipy in /home/lenovo/miniconda3/envs/marjan-enviroment/lib/python3.11/site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /home/lenovo/miniconda3/envs/marjan-enviroment/lib/python3.11/site-packages (from scipy) (1.23.4)

In [104]:
from scipy.sparse import csr_matrix

In [105]:
book_sparse = csr_matrix(book_pivot)

In [106]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [107]:
from sklearn.neighbors import NearestNeighbors

In [108]:
model = NearestNeighbors(algorithm='brute')

In [109]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [120]:
distances, suggestions = model.kneighbors(book_pivot.iloc[254, :].values.reshape(1,-1), n_neighbors=6)

In [121]:
distances

array([[ 0.        , 33.28663395, 34.02939905, 34.35112807, 34.4818793 ,
        34.79942528]])

In [122]:
suggestions

array([[254, 252, 344, 308, 528, 351]])

In [123]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Key of Valor (Roberts, Nora. Key Trilogy, 3.)',
       'Key of Knowledge (Key Trilogy (Paperback))', 'Purity in Death',
       'Night Whispers', 'The Reef', 'Riptide'],
      dtype='object', name='title')

In [129]:
book_pivot.index[351]

'Riptide'